{% extends 'base.html' %}

{% block content %}

<style>
  tr:last-child {
    background: rgb(250, 194, 194);
  }
</style>

  <h1 class="text-2xl font-bold">CYBER-KATALOG</h1>
  <br>
  <h5>{{ nama_mahasiswa }}</h5>
  <h5>{{ kelas_mahasiswa }}</h5>
  <br>
  <h3>{{ name }}</h3>
  <h5>Tersisa: {{ amount }}</h5>
  <p>{{ description }}</p>
  <br/>

  <h2 id="itemCount" class="text-lg text-bold">
    Total items: {{ count }}
  </h2>
  <div id="cards" class="row">
    <!-- Use AJAX -->
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

  <h5>Nama pengguna: {{ current_user }}</h5>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
  <a href="{% url 'main:logout' %}">
    <button class="bg-gray-300 py-2 px-4 hover:bg-gray-400 rounded-lg transition-all duration-200">
        Logout
    </button>
  </a>

  <script>
    async function getItems() {
      return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }
    
    async function refreshItems() {
      document.getElementById("cards").innerHTML = ""
      const items = await getItems()
      console.log("first")
      let htmlString = ``
      let htmlCount = `Total items: ${items.length}`
      items.forEach((item) => {
        htmlString += `\n<div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">${item.fields.name}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Tersisa ${item.fields.amount}</h6>
            <p class="card-text">${item.fields.description}</p>
            <p class="card-text">${item.fields.created_at}</p>
            <button onclick="incItem(${item.pk})" class="bg-gray-300 px-1 hover:bg-gray-400 transition-all duration-200 mt-2 mb-5">
              ++
            </button>
            <button onclick="decItem(${item.pk})" class="bg-gray-300 px-1 hover:bg-gray-400 transition-all duration-200 mt-2 mb-5">
              --
            </button>
            <button onclick="delItem(${item.pk})" class="bg-gray-300 px-1 hover:bg-gray-400 transition-all duration-200 mt-2 mb-5">
              delete
            </button>
          </div>
        </div>`
      })
      document.getElementById("itemCount").innerHTML = htmlCount
      document.getElementById("cards").innerHTML = htmlString
    }

    document.addEventListener('DOMContentLoaded', function () {
      refreshItems()
    })

    function addItem() {
      fetch("{% url 'main:add_item_ajax' %}", {
        method: "POST",
        body: new FormData(document.querySelector('#form'))
      }).then(refreshItems)

      document.getElementById("form").reset()
      return false
    }
    
    function incItem(id) {
      const formData = new FormData()
      formData.append("id", id)
      fetch("{% url 'main:increase_item_ajax' %}", {
        method: "POST",
        body: formData
      }).then(refreshItems)
      return false
    }

    function decItem(id) {
      const formData = new FormData()
      formData.append("id", id)
      fetch("{% url 'main:decrease_item_ajax' %}", {
        method: "POST",
        body: formData
      }).then(refreshItems)
      return false
    }

    function delItem(id) {
      const formData = new FormData()
      formData.append("id", id)
      fetch("{% url 'main:delete_item_ajax' %}", {
        method: "POST",
        body: formData
      }).then(refreshItems)
      return false
    }
    
    document.getElementById("button_add").onclick = addItem
  </script>
{% endblock content %}