{% extends 'base.html' %}

{% block content %}

<style>
  tr:last-child {
    background: rgb(250, 194, 194);
  }
</style>

  <h1 class="text-2xl font-bold">CYBER-KATALOG</h1>
  <br>
  <h5>{{ nama_mahasiswa }}</h5>
  <h5>{{ kelas_mahasiswa }}</h5>
  <br>
  <h3>{{ name }}</h3>
  <h5>Tersisa: {{ amount }}</h5>
  <p>{{ description }}</p>
  <br/>

  <h2 class="text-lg text-bold">
    Total items: {{ count }}
  </h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id='item_table' class="w-full table table-bordered">
    </table>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

  <h5>Nama pengguna: {{ current_user }}</h5>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
  <a href="{% url 'main:logout' %}">
    <button class="bg-gray-300 py-2 px-4 hover:bg-gray-400 rounded-lg transition-all duration-200">
        Logout
    </button>
  </a>

  <script>
    async function getItems() {
      return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }
    
    async function refreshItems() {
      document.getElementById("item_table").innerHTML = ""
      const items = await getItems()
      console.log("first")
      let htmlString = `<thead class='thead-dark'>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tersisa</th>
          <th scope="col">Description</th>
          <th scope="col">Time Added</th>
          <th scope="col">Feature</th>
        </tr>
      </thead>`
      items.forEach((item) => {
        htmlString += `\n<tr">
          <td>${item.fields.name}</td>
          <td>${item.fields.amount}</td>
          <td>${item.fields.description}</td>
          <td>${item.fields.created_at}</td>
          <td class="px-6 py-3 flex gap-4">
            <a href="\{% url 'main:increment_counter' item.id %\}">
              <button class="bg-gray-300 px-1 hover:bg-gray-400 transition-all duration-200 mt-2 mb-5">
                ++
              </button>
            </a>
            <a href="\{% url 'main:decrement_counter' item.id %\}">
              <button class="bg-gray-300 px-1 hover:bg-gray-400 transition-all duration-200 mt-2 mb-5">
                --
              </button>
            </a>
            <a href="\{% url 'main:delete_item' item.id %\}"">
              <button class="bg-gray-300 px-1 hover:bg-gray-400 transition-all duration-200 mt-2 mb-5">
                delete
              </button>
            </a>
          </td>
        </tr>`
      })

      document.getElementById("item_table").innerHTML = htmlString
    }
    refreshItems()

    function addItem() {
      console.log("Sec")
      fetch("{% url 'main:add_item_ajax' %}", {
        method: "POST",
        body: new FormData(document.querySelector('#form'))
      }).then(refreshItems)

      document.getElementById("form").reset()
      return false
    }

    document.getElementById("button_add").onclick = addItem

  </script>
{% endblock content %}